@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');

.contacto-fondo{
    background-color:black;
    padding-top: 50px;
}
.contacto-titulo {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: -20px;
}

.contacto-texto {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: white;
    text-align: center;
}

.contacto-informacion{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
}

.contacto-redes{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
}

.contacto-imagenes {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}

.contacto-imagenes div {
    text-align: center;
}

.contacto-imagenes img {
    width: 80px;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 30px auto;
    padding: 30px;

    background-image: url("../images/fondo/auto.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 15px;

    box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
}

.formulario button {
    width: 100%;
    max-width: 400px;
    padding: 14px;

    border: none;
    border-radius: 12px;

    background: #007bff;
    color: white;

    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

    transition: all 0.3s ease;
}

.formulario button:hover {
    background: #0056b3;
    transform: translateY(-2px);
}

.formulario button:active {
    transform: translateY(0);
}

.formulario label {
    width: 100%;
    max-width: 400px;
    font-weight: 600;
    text-align: left;

    color: black;
    text-shadow: 0 0 5px #e1e1e1;
}

.formulario input,
.formulario textarea {
    width: 100%;
    max-width: 400px;
    padding: 12px;

    border: none;
    border-radius: 12px;

    background: rgba(255, 255, 255, 0.9);
    color: #333;

    font-size: 14px;
}