html, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

.trailer-container {
    position: fixed;
    inset: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.trailer-video {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
}
.volver-inicio{
    position: fixed;
    top: 20px;
    left: 20px;

    z-index: 1000;

    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 600;

    background: rgba(0,0,0,0.7);
    padding: 12px 18px;
    border-radius: 10px;

    border: 1px solid rgba(255,255,255,0.3);

    transition: all 0.3s ease;
}

.volver-inicio:hover{
    color: skyblue;
    border-color: skyblue;
    transform: scale(1.05);
}